# === BACKEND IGNORE ===
/backendTPI/dist/
/backendTPI/node_modules/
/backendTPI/build/

/backendTPI/logs
/backendTPI/*.log
/backendTPI/npm-debug.log*
/backendTPI/pnpm-debug.log*
/backendTPI/yarn-debug.log*
/backendTPI/yarn-error.log*
/backendTPI/lerna-debug.log*

/backendTPI/.DS_Store
/backendTPI/coverage
/backendTPI/.nyc_output

/backendTPI/.idea
/backendTPI/.project
/backendTPI/.classpath
/backendTPI/.c9/
/backendTPI/*.launch
/backendTPI/.settings/
/backendTPI/*.sublime-workspace

/backendTPI/.vscode/*
!/backendTPI/.vscode/settings.json
!/backendTPI/.vscode/tasks.json
!/backendTPI/.vscode/launch.json
!/backendTPI/.vscode/extensions.json

/backendTPI/.env
/backendTPI/.env.development.local
/backendTPI/.env.test.local
/backendTPI/.env.production.local
/backendTPI/.env.local

/backendTPI/.temp
/backendTPI/.tmp

/backendTPI/pids
/backendTPI/*.pid
/backendTPI/*.seed
/backendTPI/*.pid.lock

/backendTPI/report.*.json

