<div class="background-image-wrapper"> <div class="home-content-container"> <div class="text-center mb-5">
      <h1 class="fw-bold">ÓRDENES Y PAGOS</h1> <p class="text-muted">Gestiona tus operaciones de forma eficiente</p> <div class="d-flex justify-content-center mt-3 gap-2">
        <button class="btn btn-primary" routerLink="/lista-pedidos">
          Ver Lista de Pedidos
        </button>
        
        <button class="btn btn-info" (click)="viewPaymentsList()">
          Ver Lista de Pagos
        </button>
      </div>
    </div>
  </div>
</div>


<div class="back-button-container">
  <button class="btn btn-secondary" (click)="volverAtras()">
    Volver
  </button>
</div>
